.searchBar {
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 12px 24px;
  color: #fff;
  background-color: #3f51b5;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.searchForm {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.searchFormBtn {
  width: 35px;
  height: 35px;
  border: 0;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}

.searchFormBtn svg {
  display: flex;
}

.searchFormBtn:hover {
  opacity: 1;
}

.searchFormBtnLabel {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.searchFormInput {
  display: inline-block;
  width: 100%;
  font: inherit;
  border: none;
  outline: none;
  padding: 0 8px;
}

.searchFormInput::placeholder {
  font: inherit;
  font-size: 16px;
  opacity: 0.8;
}
